.aprovado{
    color: green;
}
.reprovado{
    color: red;
}
.exame{
    color: rgb(255, 255, 0);
}
table{
    background: #000000;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    width: 500px;
    border: solid 2px gray ;
}
body{
    font-family: arial;
}